body {
  margin: 5px;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("images/heroImage.jpg");
  background-size: cover;
  position: relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* services section css */
.servicesText.card {
  height: 7.5rem;
}
.servicesIcon {
  font-size: 3.125rem;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
  font-size: 2.25rem;
  cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
.card-img-top {
  width: 5rem;
  height: 15rem;
  padding: 3px;
}

@media (max-width: 576px) {
  .form-control {
    margin-top: 2rem;
  }

  .nav-item .nav-link {
    color: green !important;
    font-weight: bold;
  }

  #iconos {
    font-size: 1.5rem;
    text-align-last: justify;
  }
  .bgimage {
    height: 50vh;
    background: url("images/heroImage.jpg");
    background-size: cover;
    position: relative;
  }

  .hero_title {
    font-size: 2.5rem;
  }
  .hero_desc {
    font-size: 1rem;
  }

  #b {
    width: 30%;
  }
  #a {
    display: flex;
    justify-content: space-evenly;
  }

  #b h4 {
    font-size: 0.8rem;
  }
}

.card {
  height: 27rem;
}

/* <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; will-change: transform; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><span id="2BE2604E-3103-46D6-9E3F-D32FEF66B551" style="display: none;">Para desplazarte, pulsa las teclas de flecha.</span></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div> */
